@page
@model fictionsplash.Pages.ContactModel
@{
}
<body class="contact-background">
    
    <h1>Contact info</h1>
    <div class="container contact-board">
        <div id="contact-info">
            <p>
                Email: <a href="mailto:vasil.derilov@gmail.com">vasil.derilov@gmail.com</a>
            </p>
            <p>
                Phone: <a href="tel:+359879530126">+359879530126</a>
            </p>
            <p>
                <a href="https://github.com/BasDerilov">Github</a>
            </p>
        </div>
        <div class="card id-style">
                <img src="~/me.jpg" alt="~/muppet.png" id="id-image">
                <div>
                    <h4 class="card-title">Vasil Derilov</h4>
                    <p class="card-text">blah blah blah</p>
                    <a href="https://www.linkedin.com/in/vasil-derilov/" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
    </div>    
</body>
