@page
@model fictionsplash.Pages.ContactModel
@{
}
<body class="contact-background">
    
    <h1 id="contact-h1">Contact info</h1>
    <div class="container contact-board">
        <div id="contact-info">
            <p>
                Email: <a href="mailto:">somemail@example.com</a>
            </p>
            <p>
                Phone: <a href="tel:">some number</a>
            </p>
            <p>
                <a href="">Github</a>
            </p>
        </div>
        <div class="card id-style">
                <img src="~/me.jpg" alt="~/muppet.png" id="id-image">
                <div>
                    <h4 class="card-title">your name</h4>
                    <p class="card-text">"Some Work Title"</p>
                    <a href="" class="btn btn-primary">LinkedIn</a>
                </div>
            </div>
    </div>    
</body>
