@page
@model fictionsplash.Pages.GamesModel
@{
}
<body class="games-background">
    <h1 style="text-align: center;">GAMES</h1>
    <div id="games-content">
        <div class="games-board" id="snek">
            <h2>Gosho the alcoholic snake</h2>
            <p class="game-description">
                <img class="game-image" src="~/gosho.png"> 
                Gosho was an exercise of 
                sorts that allowed me to explore JS and how it differs from C# to which I was very accustomed, 
                coincidentally it was also my first game. It is in no way pretty 
                and the code is spaghetti at best but I am still proud of it. It was written in April of 2021.
            </p>
            <a href="~/Games/Gosho" class="play-game-btn">PLAY</a>
        </div>
    </div>
</body>
