@page
@model fictionsplash.Pages.GamesModel
@{
}
<body class="games-background">
    <h1 style="text-align: center;">GAMES</h1>
    <div>
        <div class="games-board" id="snek">
            <img class="game-image" src="~/gosho.png"> <p class="game-description">Gosho was an exercise of 
                sorts that allowed me to explore JS and how it differs from C# to which I was very accustomed, coincidentally it was also my first game. It is in no way pretty 
                and the code is spaghetti at best but I am still proud of it. It was written in April of 2021.</p>
                <a href="~/Games/Gosho" class="btn btn-primary">PLAY</a>
        </div>
        <div class="games-board">

        </div>
    </div>
</body>
