@page
@model fictionsplash.Pages.GamesModel
@{
}
<body class="games-background">
    <h1>GAMES</h1>
    <div class="frosted" style="width: 50vw; height: 80vh; padding: 21px">
        <span>
            <h2 class="banner" style="color: white;">Gosho the snake</h2>
        </span>
    </div>
</body>
