@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}

<body class="home-background to-bottom">
    <div>
        <h1>Here be dragons</h1>
    </div>
    <div class="page-main-board container">
        <div class="inline">
            <p id="blog-notice" class="styled-p">
                Check out the <a href="~/Blog">Blog</a> section, there might be some interesting topics.
            </p>
            <h2 id="outline-card-title-1">
                I recommend you visit:
            </h2>
            <h2 class="banner">
                What can this website offer you?
            </h2>
            <div id="outline-card-1" class="inline">
                <a class="menu-link" href="~/Games/Gosho">Gosho the snake</a>
                <p></p>
                <a class="menu-link" href="~/Contact">Who made this?</a>
            </div>
            <p id="pm1">
                Honestly? Not much. This little site can offer you a bit of entertainment and maybe inspire some ideas, other than that it's just my venting oasis.
                On the <a class="solid-background" href="~/Games">Games</a> page you can find the games I have created and uploaded, some will even be embedded so you can play directly from your browser.
                On the <a class="solid-background" href="~/Blog">Blog</a> page you can see what I am up to, I will be venting and sharing stuff there (and maybe add a comments section so people can converse).
                On the <a class="solid-background" href="~/Contact">Contact</a> page you can find more info about the muppet that made this website and the content on it.
            </p>
        </div>
        <div class="inline">
            <h2 class="banner">
                Some things about open-source
            </h2>
            <h2 id="outline-card-title-2">
                Some cool links
            </h2>
            <div id="outline-card-2" class="inline">
                <a class="menu-link" href="https://www.fsf.org">The Free Software Foundation</a>
                <p></p>
                <a class="menu-link" href="https://en.wikipedia.org/wiki/Revolution_OS">Revolution OS (movie)</a>
                <p></p>
                <a href="https://en.wikipedia.org/wiki/The_Internet%27s_Own_Boy">Aaron Swartz (movie)</a>
            </div>
            <p id="pm2">
                This website is meant to be a platform for my creative work, mainly video games. All the content on here is free for use, modification and, redistribution. 
                I would appreciate giving credit if you use any of my work although you are not required to in any way. I am one of those firm believers that open source should be
                the norm. There are cases in which proprietary is better and I completely agree with that. But for the most part, I feel like sharing your work with everyone is 
                the most wonderful gesture. Free software doesn't mean no profit at all. <a class="solid-background" href="https://en.wikipedia.org/wiki/Richard_Stallman">"think free as in free speech not free beer"</a> 
            </p>
        </div>
    </div>
</body>
