@page
@model IndexModel
@{
    ViewData["Title"] = "Main Page";
}

<body id="body" class="home-background to-bottom">
    <div style="text-align: center;">
        <h1>Welcome to my oasis</h1>
    </div>
    <div class="frosted" style="height: 100vh; width: 60vw; padding: 21px;">
        <span style="color: white;">
            <h2 class="banner">
                Interesting places you might want to visit:
            </h2>
            <h2 class="banner">
                test
            </h2>
        </span>
    </div>
</body>
