@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}

<body class="background body">
    <div class="content">
        <h1>@ViewData["Title"]</h1>
        <p>Here be dragons</p>
    </div>
</body>
