@use "sass:map";

//colors
$main-color: #0d324d;
$secondary-color: #7f5a83;

//gradients
/*
    Gradients are saved in this file in the map format and imported in site.scss where
    the values are extracted for whatever kind of use you need them. I use them to keep consistent theme
    on each page.

    **I choose my colors from https://www.eggradients.com/**
*/
$g-fake-news: (
    1:#b0f3f1,
    2:#ffcfdf
);

$g-furry-of-tayyip: (
    1: #5f72be,
    2: #9921e8
);

$g-rush-job: (
    1: #fbd72b,
    2: #f9484a
);

$g-lion-milk: (
    1: #f6ebe6,
    2: #aee1f9
);

$g-instagram-story: (
    1: #b621fe,
    2: #1fd1f9
);

$g-creative-idea: (
    1: #6617CB,
    2: #CB218E
);

$g-managers-abilities: (
    1: #E288F9,
    2: #FFC988
);

$g-organic-search: (
    1: #FEAE96,
    2: #FE0944
);

$g-dejavu: (
    1: #FC575E,
    2: #90D5EC
);

$g-old-friend: (
    1: #05D6D9,
    2: #F907FC
);

$g-spotyfy-free: (
    1: #80FF72,
    2: #7EE8FA
);