@import 'variables';
@import 'hfstyling';

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.background {
    background-color: $main-color;
}

.animatedStroke {
    color: $secondary-color;
}