@use "sass:map";
@import 'variables';
@import 'hfstyling';

@mixin hologram($color: black, $opacity: 0.2) {
    background-color: $color;
    opacity: $opacity;
    border-radius: 15px;
    padding: 10px;
    color: white;
}

//mixin for the animated gradient background, can make a gradient animation with any color
//passed like a function
@mixin gradient-background($color1: $main-color, $color2: $secondary-color, $angle: 45deg) {
 
    background-color: $color1;
    background: linear-gradient($angle, $color1, $color2);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;   

    @keyframes gradient{
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
}

h1{
    padding-top: 5vh;
}

.copy-left{
    transform: rotate(180deg);
    font: 18px sans-serif;
    display: inline-block;
}

.container{
    text-align: -webkit-match-parent;
}

.info-board{
    box-sizing: content-box;
    height: 100%;
    width: 100%;
    align-self: center;
    box-shadow: 5px;
}

/********************************************************
*This is where the themes from _variables.scss are used *
*********************************************************/
.home-background{
	@include gradient-background();
    color: white;
}

.games-background{
    @include gradient-background(map.get($g-old-friend, 2), map.get($g-old-friend, 1))
}

.blog-background{
    @include gradient-background(map.get($g-rush-job,1), map.get($g-rush-job,2))
}

.contact-background{
    @include gradient-background(map.get($g-spotyfy-free,2), map.get($g-spotyfy-free,1));
    color: black;
}

p, h1, h2{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-attachment: fixed;
    text-align: center;
    margin: auto;
}

.solid-background{
    background-color: #28313b;
}

.contact-board{
    background-color: #28313b;
    border-radius: 5px;
    min-height: 688px;
    padding: 20px;
    max-width: 750px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 9vh;
}

#contact-h1 {
    padding-top: 1vh;
}

.badge-base{
    float: right;
}

#contact-info{
    text-align: left;
    color: white;
    font-weight: 400;
    margin: auto;
}

#last-div{
    margin-bottom: 50px;
}

.id-style{
    width: 300px;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}

#id-image{
    width: 100%;
}